root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{json,yaml,yml,toml}]
indent_size = 2

[*.md]
max_line_length = 80

[*.py]
max_line_length = 88

[*.sh]
max_line_length = 80

[Makefile]
indent_style = tab
